{% extends "main/base.html" %}

{% block content %}

    <div class="container">

        <div class="row my-5">

            <div class="col-md-9">
                <div class="m-1 bg-white rounded">
                    <h1 class="p-5">{{ my_website_name }} - {{ title }} </h1>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white m-1 p-1 rounded">
                    {% include 'main/partials/sidebar.html' %}
                </div>
            </div>

        </div>

    </div>

{% endblock content %}
