{% load i18n %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {#TITLE#}
    {% if title %}
        <title>{{ my_website_name }} - {{ title }}</title>
    {% else %}
        <title>{{ my_website_name }}</title>
    {% endif %}


    <!--Required metatags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--BootstrapCSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#FONT_AWESOME#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {#CUSTOM STYLES#}
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">


</head>


{#BODY#}
<body class="bg-primary">

{#MAIN#}
<main role="main" class="container-fluid p-0">

    {#NAV#}
    {% block nav %}
        {% include 'main/partials/nav.html' %}
    {% endblock %}

    {#MESSAGES#}
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}


    {#CONTENT#}
    {% block content %}
        <div class="container mt-3">
            <h1 class="jumbotron">{{ title }}</h1>
        </div>
    {% endblock %}

</main>

<!--Optional JavaScript-->
<!--jQuery first, thenPopper.js, then BootstrapJS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>
